


<h2>Signup</h2>

    <form class="form signup-form">

    
      <div class="field container is-fluid">
        <label class="label">name:</label>
        <div class="control">
          <input class="input" type="text" placeholder="name" id="name-signup">
        </div>
      </div>

      <div class="field container is-fluid">
        <label class="label">email:</label>
        <div class="control">
          <input class="input" type="email" placeholder="password" id="name-signup">
        </div>
      </div>

      <div class="control">
        <button class="button is-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
